.main-font-list {
  width: 800px;
  margin: 0 auto;
}

.main-font-list .main-font-card {
  text-align: left;
  width: 360px;
  margin: 0 5px 10px;
  display: inline-block;
  white-space: pre;
  position: relative;
}

.main-font-list .main-font-card h2 {
  margin: 0;
}
.main-font-list .main-font-card p {
  margin: 0;
  margin-top: 10px;
}

.main-font-list a:link,a:hover,a:active,a:visited {
  color: black;
  text-decoration: none;
}

.main-font-list .main-font-card .main-font-list-tryout {
  margin: 4px;
}

.main-font-list .main-font-card .main-font-list-tryout {
  margin: 4px;
}

.main-font-list .main-font-card .main-font-title {
  padding: 0;
}

.main-font-list .main-font-card .main-font-list-like{
  margin: 4px;
}