.font-detail {
  width: 100%;
}

.font-detail-left {
  text-align: left;
  overflow: visible;
  white-space: nowrap;
}
/* 
.font-detail-left div {
  margin-bottom: 10px;
} */

.font-detail-title {
  font-size: 55px;
}

.font-detail-dummy {
  margin: 0;
  padding: 0;
}

.font-detail-80 {
  margin-top: 40px;
  font-size: 80px;
}

.font-detail-70 {
  font-size: 70px;
}

.font-detail-60 {
  font-size: 60px;
}

.font-detail-50 {
  font-size: 50px;
}

.font-detail-40 {
  font-size: 40px;
}

.font-detail-30 {
  font-size: 30px;
}

.font-detail-20 {
  font-size: 20px;
}

.font-detail-left p {
  margin: 40px 0 20px;
}

.font-detail-all {
  width: 600px;
  font-size: 35px;
  white-space: normal;
}

.font-detail-variant {
  font-size: 30px;
}